.additional_info{ style: "display:none" }
  %br
  %table.table.table-striped.table-hover
    %tr
      %th Время публикации:
      %th IP:
      %th Юзер агент:
      %th Источник:
    %tr
      %td= comment.tolerance_time || :none
      %td= comment.ip
      %td= comment.user_agent
      %td= comment.referer